extends ./partials.pug
block content
    
    br
    br
    br
    br
    br
    br
    br
    
    .section
        .container
            form(action='/newpost' method='post')
              h2.form-title Voeg je stekje toe
              label(for='title') Soort:
              input(type='text', placeholder='Wat voor stekje wil je delen/verkopen', name='newPlantName')
              br
              label(for='body') Omschrijving:
              textarea.input(type='text', placeholder='Schrijf een korte omschrijving hier', name='newPost')
              button.form-button(type='submit') Create your advertisement