doctype html
html
  head
    title Blog
    link(rel='stylesheet', type='text/css', href='../css/style.css')
    link(href='http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    
  body
    ul
      li
        a(href='/') Home
          li
            a(href='/login') Log In
          li
            a(href='/signup') Sign up 
    wrapper

      block content

    script(src="/js/jquery-3.1.1.js")
    script(src="/js/custom.js")

  