extends ./layout.pug
block content
	h1 Login Page
	.container
		form.form-horizontal
			.form-group
				label.control-label.col-sm-2 Email:
				.col-sm-10
					input#email.form-control(type='email', placeholder 'Enter your email here')

