extends ./partials.pug
block content

    h1 Offers

      each key in allPlants
        p 
          strong ID: 
          | #{key.userId}:
        p 
          strong plantname: 
          | #{key.plantName}
        br







