extends ./partials.pug
block content

  .container
    br
    br
    br
    br
    p Hi there!
    p here you see the current cuttings offered:

      each key in allPlants
        .row
          .col-sm-6
            .card
              .card-block
                img.card-img-top.img-responsive(src='/img/pancake.jpg', alt='Card image cap')
                .card-block
                  h4.card-title #{key.plantName}
                  p.card-text
                    | offered by #{key.userId}
                  |  
                  a.btn.btn-primary(href='#') Go somewhere
        //- p 
        //-   strong ID: 
        //-   | #{key.userId}
        //- p 
        //-   strong plantname: 
        //-   | #{key.plantName}
        //- br







