doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Stecksy
    link(rel='stylesheet', type='text/css', href='../css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='../css/main.css')
    link(href='http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    
  body#page-top



  

    
      block content

              
      footer.footer#footer.footer-menu.sections.footer-menu
        .container
          .row
            .footer-menu-wrapper
              .col-md-6.col-sm-6.col-xs-12
                .menu-item
                  .navbar-brand Steksie
                    img(src='img/plant.png', alt='Logo')
                  p.text-muted 
                    ul
                      li
                        a(href='/') Home
                      li
                        a(href='/offers') Aanbod
                      li
                        a(href='/login') Login
                      li
                        a(href='/addplant') Voeg stekje toe



      //- script(src="/js/jquery-3.1.1.js")
      //- script(src="/js/custom.js")


  