// // -----------------------------------------------------------------------------
// // This file contains very basic styles.
// // -----------------------------------------------------------------------------

html,
body {
  font-size: 15px;
  color: #565656;
  width: 100%;
  padding: 0;

  margin-left: 0;
  margin-right: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

ul{
  list-style-type: none;
}

/*BEGIN STYLING NAVBAR*/
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  border-radius:0;
  padding-top:20px;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #82ca9c;
  background-color:transparent;
}
.navbar-default .navbar-nav>li>a {
  color: #000;
  font-size:14px;
  font-weight:600;
  text-transform:uppercase;
}
.navbar-default .navbar-nav li a :hover{
  color: #82ca9c;
}
.navbar-default .collapse .login a{
  color: #82ca9c;
  border: 1px solid #82ca9c;
  border-radius: 20px;
  padding: 4px 30px;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 30px;
  display:inline-block;
  overflow:hidden;
}
.navbar-default .collapse .login:hover a{
  background-color: rgba(0, 173, 62, 0.75);
  color:#fff;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #82ca9c;
  background-color: transparent;
}
.navbar-brand{
  margin-top:-5px; 


  img{
    display: inline-block;
    width: 5%;

  }
}

.navbar-toggle{
  border: none;
}
/* END STYLING NAVBAR */

/* BEGIN STYLING HOME SECTION */
.home{
  background:url(../img/bg_4_v3.jpg) no-repeat center center;
 
  background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  -ms-background-size:cover;
  height: 85%;
}

.home-wrapper{
  padding:150px 0px;
  overflow:hidden;
  // min-height: 750px;
}


.home-content {
  h1{
    font-size:48px;
    font-weight:700;
    margin-bottom: 30px;
    color: #fff;
  }
  h2{
    margin-bottom: 30px;
    color: #fff;
  }
  text-shadow: 0px 0 rgba(black, 0.5), 0 2px rgba(black, 0.5), 2px 0 rgba(black, 0.5), 0 0px rgba(black, 0.5);
}

.home-content .home-contact{
  margin-top: 90px;
}


form select{
  padding: 18px 45px 18px 25px;
  display: inline-block;
  font-size: 16px;
  width: 335px;
  float: none;
  border-style: none;
  border: 2px solid #fff;
  background: #fff;
}

/* ENDING STYLING HOME SECTION */


.testimonials{
  overflow: hidden;
  min-height: 600px;
  font-size: 48px;
  font-weight: 700;
  

h1{
  padding: 45px 0px 0px 0;
}
}

#wrapper
{
  width:995px;
  padding:0px;
  margin:0px auto;
  font-family:helvetica;
  position:relative;
}
#wrapper .baricon
{
  display:inline-block;
  border-radius:100%;
  padding:12px;
  background-color:#38610B;
  color:white;
}

#user-details
{
  display:none;
}

/* ENDING STYLING TESTIMONIAL SECTION */

/* BEGIN STYLING CAROUSEL */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* CONTROL BUTTONS */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* PREVIOUS BUTTON  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
  color: #82ca9c;
}
/* NEXT BUTTON  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
  color: #82ca9c;
}
/* CHANGE POSITION INDICATORS */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* CHANGES COLOR OF INDICATOR*/
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* END STYLING CAROUSEL */


/* BEGIN STYLING QUOTES */

.item blockquote {
    border-left: none; 
    margin: 50px;
    padding: 10px;

}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p{
  font-weight: normal;
}

.testimonial-description{
  padding: 0 15px;
  font-size: 13px;
  color: #808080;
  line-height: 26px;
}
.testimonial-title{
  font-size: 14px;
  letter-spacing: 3px;
  color: #000;
  text-transform: uppercase;
  position: relative;
}

.testimonial-title span{
  font-size: 10px;
}


.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

.item blockquote p:after {
    content: "\f10e";
    font-family: 'Fontawesome';
    // float: right;
    margin-left: 10px;
}


/* ENDING STYLING QUOTES */

/* MEDIA QUERIES */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

/* MEDIA QUERIES */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

.category_container{
  width: 800px;
  display:block;
  margin: 0 auto;
  overflow: hidden;
}

.category_item{
  float: left;
  width: 25%;
  padding: 20px 0;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.category_item:hover{
  background-color: #ffb655;
  color: white;

}

// .block_container{
//   width: 800px;
//   display: block;
//   margin: 0 auto;
//   box-sizing: border-box;
// }

.plant_item{
  box-sizing: border-box;
  float: left;
  // padding: 2px;
  // width: 20%;
  transition: all 0.4s ease-in-out;
}

.hide{
  transform: scale(0);
  width: 0;
  padding: 0;
  transition: all 0.4s ease-in-out;
}

section .loginpage {
  background:url(../img/plantjes.jpg) no-repeat center center;
  // background:linear-gradient(to left, #76b852, #8DC26F);
  padding: 0 0;
  
}

.form-control {
  border: 1px solid #DEDEDE;
  height:45px;
  border-radius: 0px;
  margin-right: -3px;
}
.head_title {
  margin-bottom: 40px;
}
.head_title p {
  max-width: 55%;
  margin: 10px auto;
  padding-bottom: 20px;
}

@mixin linear-gradient($gradientLine, $colorStops...) {
  background-image: -webkit-linear-gradient($gradientLine, $colorStops);
  background-image:    -moz-linear-gradient($gradientLine, $colorStops);
  background-image:      -o-linear-gradient($gradientLine, $colorStops);
  @if length($gradientLine) == 2 {
    background-image:         linear-gradient(to #{inverse-side(nth($gradientLine, 1))} #{inverse-side(nth($gradientLine, 2))}, $colorStops);
    } @else {
      background-image:         linear-gradient(to #{inverse-side($gradientLine)}, $colorStops);
    }
  }

  /*For portfolio Section*/
  .portfolio{
    background: url(../images/bg.png) no-repeat top center fixed;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -ms-background-size:cover;
    width: 100%;
    overflow: hidden;
  }

  .community-edition{
    background:#fff;
    padding:30px 30px 0px 30px;
    border:1px solid #ececec;
    box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -webkit-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -moz-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -o-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -ms-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    transition:.3s ease-in-out;
    -moz-transition:.3s ease-in-out;
    -webkit-transition:.3s ease-in-out;
    margin-bottom: 50px;
  }
  .community-edition:hover{
    background:#82ca9c;
    color:#fff;
  }
  .community-edition:hover i {
    color:#fff;
  }
  .community-edition:hover h4 {
    color:#fff;
  }
  .community-edition:hover p {
    color:#fff;
  }
 


  .community-edition i{
    font-size:60px;
    color:#82ca9c;
    margin-bottom: 20px;
  }
  .community-edition h4{
    font-size:16px;
    color:#000;
    text-transform:uppercase;
    font-weight:600;
    letter-spacing:1px;
    margin-top:15px;
    
  }
  .community-edition  p {
    // font-weight: 10;
    color:#777777;
  }
  .offeredby{
    font-size:12px;
    color:#777777;
    text-align: center;
  }
.offeredin{
  text-align: center;
}


  .portfolio-wrapper2{
    margin-top:25px;
  }



.adress .form-input{
	padding: 18px 45px 18px 25px;
	display: inline-block;
	font-size: 16px;
	width: 335px;
	float: none;
	border-style: none;
	border: 2px solid #fff;
	background: #ccc;

}
.adress{
	
	margin-top: 50px;
}
.adress .form-button{
	display: inline-block;
  background-color: #ffa85e;
  border: 3px solid #ffa85e;
  padding: 14px 45px 16px 45px;
  border-radius: 6px;
  color: #fff;
  margin-left: 11px;
  margin-right: 20px;
  font-size: 20px;
    // font-family: 'sofia_regular';
    font-weight: normal;
    width: auto;
    .form-button-green{
      background-color:#4CAF50;
    }
  }




.login form{
	position: relative;
	background: #fff;
	max-width: 360px;
	margin: 100px auto;
	padding: 45px;
	text-align: center;
	border-bottom: 1px solid #c4c4c4;
	border-radius: 0px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
  // }  // @include box-shadow(0 1px 5px rgba(black, .25));


// }

.form-title{
  margin: -25px -25px 25px;
  padding: 15px 25px;
  line-height: 35px;
  // font-size: 26px;
  // font-weight: 300;
  // color: #aaa;
  text-align: center;
  text-shadow: 0 1px rgba(white, .75);
  background: #f7f7f7;
  

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8px;
    background: #c4e17f;
    border-radius: 5px 5px 0 0;
    @include linear-gradient(left,
     #c4e17f, #c4e17f 12.5%,
     #f7fdca 12.5%, #f7fdca 25%,
     #fecf71 25%, #fecf71 37.5%,
     #f0776c 37.5%, #f0776c 50%,
     #db9dbe 50%, #db9dbe 62.5%,
     #c49cde 62.5%, #c49cde 75%,
     #669ae1 75%, #669ae1 87.5%,
     #62c2e4 87.5%, #62c2e4);
  }
}



input {
  font-family: inherit;
  color: inherit;
  // @include box-sizing(border-box);
}

.login input {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  padding: 0 15px 2px;
  font-size: 17px;
  background: white;
  border: 2px solid #ebebeb;
  border-radius: 4px;
  background: #f2f2f2;
  // @include box-shadow(inset 0 -2px #ebebeb);

  &:focus {
    border-color: #62c2e4;
    outline: none;
    // @include box-shadow(inset 0 -2px #62c2e4);
  }

}

.login textarea {
  resize: none;
  width: 100%;
  height: 10em;
  margin-bottom: 25px;
  padding: 0 15px 2px;
  font-size: 17px;
  background: white;
  border: 2px solid #ebebeb;
  border-radius: 4px;
  // @include box-shadow(inset 0 -2px #ebebeb);

  &:focus {
    border-color: #62c2e4;
    outline: none;
    // @include box-shadow(inset 0 -2px #62c2e4);
  }

}

.login .message{
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}


button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 58px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(black, .25);
  background: #4CAF50;
  border: 0;
  // border-bottom: 2px solid #d76b60;
  border-radius: 5px;
  cursor: pointer;
  // @include box-shadow(inset 0 -2px #d76b60);

  &:active {
    top: 1px;
    outline: none;
    // @include box-shadow(none);
  }
}

.login-wrapper{
  
  overflow:hidden;
  min-height: 750px;
}



.wrapper{
  background: #76b852;
  border: 1px solid #000;
}



.navbar #nav > .active > a {
  color: red;
  background: blue;
}


.modal-bodies{
  position: relative;
  perspective: 1000px;
}
  
.modal-body{
 display:none;
 // position: absolute;
}
//   padding: 40px 100px;
//   box-shadow: 0px 50px 30px -30px rgba(0,0,0,0.3);
//   margin-bottom: 50px;
//   position: absolute;
//   top: 0;
//   // display: none;
//   box-sizing: border-box;
//   width: 100%;
//   transform-origin: top left;
     .is-showing{
    display: block;
  }
//   }

#previous, #submitsignup{
  width: 50%;
display: inline-block;
}
    
#meerinfo{
  font-size: 16px;
  width: 75%;
  height: 30px;
  margin: 10px 0px 30px 0px;
  // margin-top: 10px;
  // margin-left: 20px;
}
  

.thumbnail{
  margin-bottom: 15px;
  border-top: none;
  // border-bottom: 2px solid #ccc;
}

.thumbnail >img {
  max-width: 40%;

}

.grabaplant{
  border: 1px solid #ccc;
  background: #f9f9f9;
  p{
    color: black;
  }
}
