.category_container {
  width: 800px;
  display: block;
  margin: 0 auto;
  overflow: hidden; }

.category_item {
  float: left;
  width: 20%;
  padding: 20px 0;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  color: black; }

.category_item:hover {
  background-color: black;
  color: white; }

.block_container {
  width: 800px;
  display: block;
  margin: 0 auto;
  box-sizing: border-box; }

.plant_item {
  box-sizing: border-box;
  float: left;
  padding: 2px;
  width: 20%;
  transition: all 0.4s ease-in-out; }

.hide {
  transform: scale(0);
  width: 0;
  padding: 0;
  transition: all 0.4s ease-in-out; }

html,
body {
  font-size: 15px;
  color: #565656;
  width: 100%;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

ul {
  list-style-type: none; }

/*For Menu Style*/
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
  padding-top: 20px; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #82ca9c;
  background-color: transparent; }

.navbar-default .navbar-nav > li > a {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase; }

.navbar-default .navbar-nav li a :hover {
  color: #82ca9c; }

.navbar-default .collapse .login a {
  color: #82ca9c;
  border: 1px solid #82ca9c;
  border-radius: 20px;
  padding: 4px 30px;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 30px;
  display: inline-block;
  overflow: hidden; }

.navbar-default .collapse .login:hover a {
  background-color: rgba(0, 173, 62, 0.75);
  color: #fff; }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #82ca9c;
  background-color: transparent; }

.navbar-brand {
  margin-top: -5px; }
  .navbar-brand img {
    display: inline-block;
    width: 5%; }

form select {
  padding: 18px 45px 18px 25px;
  display: inline-block;
  font-size: 16px;
  width: 335px;
  float: none;
  border-style: none;
  border: 2px solid #fff;
  background: #fff; }

section .loginpage {
  background: linear-gradient(to left, #76b852, #8DC26F); }

/*For Home Section*/
.home {
  background: url(../img/stekjegroen.jpg) no-repeat center center;
  color: #000;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover; }

.home-wrapper {
  padding: 300px 0px;
  overflow: hidden; }

.home-content h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #fff; }
.home-content h2 {
  margin-bottom: 30px;
  color: #fff; }

.home-content .home-contact {
  margin-top: 90px; }

.home-contact .input-group {
  display: block; }

.home-content .input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 65%;
  margin-bottom: 0;
  height: 60px; }

.home-content .home-contact input[type="text"] {
  color: #82ca9c; }

.home-content .home-contact input[type="submit"] {
  display: inline-block;
  width: 35%;
  background: #82ca9c;
  color: #fff;
  border: 0px; }

.home-content .home-contact input[type="submit"]:hover {
  background-color: rgba(0, 173, 62, 0.75); }

.home-contact p {
  margin-top: 20px;
  color: #000;
  font-size: 15px; }

.form-control {
  border: 1px solid #DEDEDE;
  height: 45px;
  border-radius: 0px;
  margin-right: -3px; }

.head_title {
  margin-bottom: 40px; }

.head_title p {
  max-width: 55%;
  margin: 10px auto;
  padding-bottom: 20px; }

.community-edition p {
  text-align: left; }

/*For portfolio Section*/
.portfolio {
  background: url(../images/bg.png) no-repeat top center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  width: 100%;
  overflow: hidden; }

.community-edition {
  background: #fff;
  padding: 40px 15px;
  border: 1px solid #ececec;
  box-shadow: 2px 2px 5px 0 rgba(55, 50, 40, 0.2);
  -webkit-box-shadow: 2px 2px 5px 0 rgba(55, 50, 40, 0.2);
  -moz-box-shadow: 2px 2px 5px 0 rgba(55, 50, 40, 0.2);
  -o-box-shadow: 2px 2px 5px 0 rgba(55, 50, 40, 0.2);
  -ms-box-shadow: 2px 2px 5px 0 rgba(55, 50, 40, 0.2);
  transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  margin-bottom: 50px; }

.community-edition:hover {
  background: #82ca9c;
  color: #fff; }

.community-edition:hover i {
  color: #fff; }

.community-edition:hover h4 {
  color: #fff; }

.community-edition:hover p {
  color: #fff; }

.community-edition i {
  font-size: 60px;
  color: #82ca9c;
  margin-bottom: 20px; }

.community-edition h4 {
  font-size: 16px;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 15px; }

.community-edition p {
  color: #777777; }

.community-edition .offeredby p {
  font-size: 12px;
  color: #777777; }

.portfolio-wrapper2 {
  margin-top: 25px; }

.adress .form-input {
  padding: 18px 45px 18px 25px;
  display: inline-block;
  font-size: 16px;
  width: 335px;
  float: none;
  border-style: none;
  border: 2px solid #fff;
  background: #fff; }

.adress {
  margin-top: 50px; }

.adress .form-button {
  display: inline-block;
  background-color: #ffa85e;
  border: 3px solid #ffa85e;
  padding: 14px 45px 16px 45px;
  border-radius: 6px;
  color: #fff;
  margin-left: 11px;
  margin-right: 20px;
  font-size: 20px;
  font-weight: normal;
  width: auto; }

.login form {
  position: relative;
  background: #fff;
  max-width: 360px;
  margin: 50px auto 100px;
  padding: 33px 25px 29px;
  text-align: center;
  border-bottom: 1px solid #c4c4c4;
  border-radius: 5px; }

.form-title {
  margin: -25px -25px 25px;
  padding: 15px 25px;
  line-height: 35px;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  background: #f7f7f7; }
  .form-title:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8px;
    background: #c4e17f;
    border-radius: 5px 5px 0 0;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to inverse-side(left), #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4); }

input {
  font-family: inherit;
  color: inherit; }

.login input {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  padding: 0 15px 2px;
  font-size: 17px;
  background: white;
  border: 2px solid #ebebeb;
  border-radius: 4px; }
  .login input:focus {
    border-color: #62c2e4;
    outline: none; }

.login textarea {
  resize: none;
  width: 100%;
  height: 10em;
  margin-bottom: 25px;
  padding: 0 15px 2px;
  font-size: 17px;
  background: white;
  border: 2px solid #ebebeb;
  border-radius: 4px; }
  .login textarea:focus {
    border-color: #62c2e4;
    outline: none; }

button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 58px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #f0776c;
  border: 0;
  border-bottom: 2px solid #d76b60;
  border-radius: 5px;
  cursor: pointer; }
  button:active {
    top: 1px;
    outline: none; }


.container.grabplant p {
  color: #565656;
  background-color: transparent;
  border-color: #565656;
  border-radius: 0;
  padding-top: 20px; }

ul.filters {
  color: #565656;
  background-color: gray; }

.wrapper {
  background: #76b852;
  border: 1px solid #000; }


.img-responsive {
  max-width: 25%; }

html {
  position: relative;
  min-height: 100%; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 150px;
  background-color: #f5f5f5; }

/*# sourceMappingURL=main.css.map */
